/dist/
/node_modules/
/.idea/
/.vscode/
/coverage/

.env
.env*
.scratch

.DS_Store

yarn-error.log
upsie.dump.sql
upsie.dump
**/*.dump

*Session.sql

*.key*

/types/**/*
packages/upsie-landing/dist/*
packages/upsie-landing/node_modules/*
